ion-label, ion-input, p, ul {
    font-size: 13px !important;
}

ion-input {
    color: #000000;
}

ion-button {
  font-size: 13px;
  text-transform: none;
 }

 .tnc ul {
    padding: 0 !important;
    text-align: left !important;
    line-height: 22px !important;
 }

 .selected {
    color: #000000 !important;
    border-bottom: 3px solid #f28522!important;
}