.selected {
    background: #f28522!important;
}

.success-message {
    color: #229c1c;
    padding: 10px;
    margin: 20px;
    background-color: #bef2bb;
    }
    
    .warn-message {
    color: #e81111;
    padding: 10px;
    margin: 20px;
    background-color: #FFE6BA;
    }
    
    .error-message {
    color: #e80c4d;
    padding: 10px;
    margin: 20px;
    background-color: #ffeeee;
    }