
<div style="background: #fff; text-align: center; padding: 10px; font-size: 13px;">

  <p style="font-size: 16px !important; margin-top: 0; color: #fff;">
    Exit the application?
  </p>

  <ion-grid style="margin: 10px -10px -10px -10px; text-align: center; padding: 0px !important;">

    <ion-row>

      <ion-col (click)="Yes()" style="padding: 15px 0; background-color: #58585b; border-top: 1px solid #fff; border-right: 1px solid #fff; color: #fff;" class="ion-text-center">

        <a style="color: #fff;">Yes</a>
  
      </ion-col>
      <ion-col (click)="No()" style="padding: 15px 0; background-color: #f28522; border-top: 1px solid #fff; color: #fff;" class="ion-text-center">
  
        <a style="color: #fff;">No</a>
        
      </ion-col>

    </ion-row>
    
  </ion-grid>

</div>