<ion-header class="ion-no-border" [translucent]="true" style="--background: #ffffff !important; background: #ffffff !important; color: #ffffff !important;">
  <ion-toolbar style="--background: #ffffff !important; background: #ffffff !important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f28522;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img alt="iSave Rewards Logo" src="../../assets/imgs/isave-rewards-logo.png" style="height: 90px;" />
    </ion-title>
    <ion-buttons slot="end">
        <img alt=".." src="../../assets/imgs/notifications.png" (click)="this.auth.GoToPage('notifications', false, false)" style="width: 25px; margin-right: 10px" />
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" (ionScroll)="this.auth.OnScroll($event)" [scrollEvents]="true" style="--background: #f1f1f2;">
  
  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="this.auth.ShowScroll" (click)="this.auth.ScrollToTop();">
    <ion-fab-button>
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <img alt="User Profile" [src]="this.auth.MarketingBannerUrl" style="max-width: 100%;" />

  <div style="background-color: #f28522; color: #ffffff; padding: 15px 0; font-weight: bold; text-align: center; margin-top: -3px; text-transform: uppercase;">
    Payment Failed
  </div>

  <ion-grid style="text-align: center; padding: 0 10px; color: #000000; box-shadow: 0 10px 6px -6px #777; padding-bottom: 10px; background: #ffffff; margin-bottom: 10px;">

    <ion-row>
      <ion-col size="12" style="text-align: center; padding: 0;">
        <p style="text-align: center; color: #e8522d; font-size: 30px">
          <ion-icon name="close-circle-outline" style="font-size: 150px;"></ion-icon>
        </p>
        <p style="font-size: 14px;">
          Your payment has unfortunately been unsuccessful. Please try again.
        </p>
        <p>
          <ion-button type="button" shape="round" (click)="this.TryAgain()" style="--background: #58585b; color: #ffffff;">
            Try Again
          </ion-button>
        </p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <div style="margin-bottom: 80px;">&nbsp;</div>

</ion-content>


<ion-footer class="absolute-footer">

  <ion-back-button defaultHref="login" style="color: #ffffff !important; --color: #ffffff !important;"></ion-back-button>

  <a (click)="this.auth.GoToPage('home', true, true)">
    <img alt=".." src="../../assets/imgs/go-home.png" />
  </a>

  <div style="clear: both;"></div>
</ion-footer>