ion-label, ion-input {
    font-size: 13px !important;
}

* {
    color: #000000;
}

ion-toggle {
    --background: #f0e5d1;
    --background-checked: #f0e5d1;

    --handle-background: #58585b;
    --handle-background-checked: #58585b;
}

ion-button {
  font-size: 13px;
  text-transform: none;
 }