
<div style="background: #fff; text-align: center; padding: 10px;">

  <div [innerHTML]="this.auth.CouponDeal.BasketTnC" class="rich-text" style="text-align: left;"></div>

  <ion-grid style="margin: 10px -10px -10px -10px; text-align: center; padding: 0px !important;">
    
    <ion-row>
      <ion-col size="6" style="padding: 15px 0; border-top: 1px solid #fff; border-right: 1px solid #fff; background-color: #58585b" class="ion-text-center">
  
        <a (click)="this.Edit()" style="color: #fff;">Edit</a>
  
      </ion-col>
      <ion-col size="6" style="padding: 15px 0; border-top: 1px solid #fff; background-color: #f28522;" class="ion-text-center">
  
        <a (click)="this.Confirm()" style="color: #fff;">Confirm</a>
  
      </ion-col>
    </ion-row>
  
  </ion-grid>

</div>
