<ion-header class="ion-no-border" [translucent]="true" style="--background: #ffffff !important; background: #ffffff !important; color: #ffffff !important;">
  <ion-toolbar style="--background: #ffffff !important; background: #ffffff !important;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #f28522;"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      <img alt="iSave Rewards Logo" src="../../assets/imgs/isave-rewards-logo.png" style="height: 90px;" />
    </ion-title>
    <ion-buttons slot="end">
        <img alt=".." src="../../assets/imgs/notifications.png" (click)="this.auth.GoToPage('notifications', false, false)" style="width: 25px; margin-right: 10px" />
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div style="text-align: center; position: relative; background: #58585b;">

    <ion-grid>
      <ion-row>
        <ion-col style="display: flex; justify-content: center;">

          <ion-avatar style="width: 60px; height: 60px;" (click)="this.auth.GoToPage('profile', false, true)">
            <img alt="User Profile" [src]="this.auth.SelfieUrl" />
          </ion-avatar>

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>

          <p style="font-weight: bold; color: #ffffff; margin-bottom: 0;">
            {{this.auth.CurrentUser.DisplayName}}
          </p>

        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <ion-grid style="text-align: center; padding: 0 20px; margin-top: 40px; color: #000000;">

    <ion-row>

      <ion-col style="box-shadow: 1px 2px 18px rgba(216, 178, 88, 0.2); border-radius: 10px; margin-right: 20px;">
        
        <p>
          Contact Information
        </p>
        
      </ion-col>
    </ion-row>

  </ion-grid>

  <div style="margin-bottom: 80px;">&nbsp;</div>

</ion-content>

<ion-footer class="absolute-footer">

  <ion-back-button defaultHref="login" style="color: #ffffff !important; --color: #ffffff !important;"></ion-back-button>

  <a (click)="this.auth.GoToPage('home', true, true)">
    <img alt=".." src="../../assets/imgs/go-home.png" />
  </a>

  <div style="clear: both;"></div>
</ion-footer>
